/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 29 ago 2024, 11:18:38
    Author     : brayan
*/

footer{
    border-style: solid;
    border-radius: 5px;
    display: grid;
    align-content: space-between;
    align-items: end;
    justify-content: center;
    justify-items: center;
}